body{
    font-family: "Playwrite US Modern", cursive;
    margin: 0;
    background-color: rgb(235, 249, 255);
    color: rgb(86, 119, 133);
}

header{
    background-color: rgb(67, 128, 156);
    color: rgb(243, 240, 240);
    text-align: center;
    padding: 20px;
    font-size: 15px;
    img{
        border-radius: 50%;
        margin-bottom: 10px;
    }
}



main{
    padding: 20px;
    margin-top: 20px;

}

#sobre{
    h2{
        font-size: 50px;
    }
    
    li{
        font-size: 20px;
        margin: 20px;
    }
    color: #8f4713;
    
}
section{
    margin-bottom: 30px;

}

#projetos{
    color: #8f4713;
}


article{
    background-color:rgb(221, 206, 190);
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 3px rgb(224, 168, 94);
    color: #8f4713;
}

footer{
    text-align: center;
    background-color:rgb(31, 96, 126);
    color: beige;
    padding: 10px;
}

a{
    color: rgb(152, 174, 184);
    text-decoration: none;
}
